.header {
  height: var(--header-height);
  background-color: var(--primary-color);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}
.header__nav-list {
  list-style: none;
  padding-left: 0;
  margin: 6px 0 0 0;
}

.header__nav-item {
  margin: 0 8px;
  position: relative;
}

.header__nav-item,
.header__nav-item-link,
.header__nav-user-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__nav-item {
  position: relative;
}
/* .header__nav-item:hover, */
.header__nav-item a:hover,
.header__nav-item-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__nav-item--strong {
  font-weight: 400;
}

.header__nav-item--separate::after {
  content: " ";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--white-color);
  top: 50%;
  right: -8px;
  transform: translateY(-55%);
}

.header__nav-icon-link {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 4px;
}

.header__nav-icon {
  font-size: 16px;
}

.no-pointer {
  cursor: text;
  color: var(--white-color) !important;
}

/* Header QR code */
.header__nav-item--display:hover .header__qr {
  display: block;
}

.header__qr {
  position: absolute;
  width: 185px;
  background-color: var(--white-color);
  padding: 12px;
  top: 120%;
  left: -5px;
  display: none;
  animation: fadeIn 0.3s;
  z-index: 1;
  box-shadow: 0 1px 3px rgb(212, 212, 212);
}

.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -20px;
}

.header__qr-app {
  display: flex;
  justify-content: space-between;
}

.header__qr-img {
  width: 100%;
}

.header__qrapp-img {
  height: 14px;
  padding: 0px 8px;
}

/* Header Notification .*/

.header__noti {
  width: 40rem;
  top: 140%;
  right: 0;
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 0 0 2px rgb(172, 172, 172);
  transform-origin: calc(100% - 25px) top;
  animation: Grow ease-in 0.2s;
  display: none;
  z-index: 1;
}

.header__noti::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent rgb(246, 251, 255) transparent;
  position: absolute;
  top: -16px;
  right: 20px;
}

.header__noti::after {
  content: "";
  position: absolute;
  right: 0;
  top: -20px;
  width: 100px;
  height: 20px;
  /* background-color: red; */
}

@keyframes Grow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__nav-noti:hover .header__noti {
  display: block;
}

.header__noti-header {
  width: 100%;
  font-size: 1.2rem;
  color: rgba(90, 90, 90, 0.7);
  margin-left: 16px;
}

.header__noti-list {
  padding: 0;
  /* background-color: rgb(230, 230, 230); */
}
/* .header__noti-list:hover {
  background-color: rgb(230, 230, 230);
} */

.header__noti-item:hover {
  background-color: #eeeeee;
}

.header__noti-link {
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  padding: 8px;
  text-decoration: none;
}

.header__noti-img {
  width: 60px;
  height: 48px;
}
.header__noti-img-item {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.header__noti-info {
  margin-left: 8px;
  color: #666;
  text-decoration: none;
  margin: auto;
  flex: 1;
  padding: 0px 8px;
}

.header__noti-name {
  font-weight: 500;
  display: block;
}

.header__noti-desc {
  font-size: 1.2rem;
  margin-top: 4px;
}

.header__noti-footer {
  text-align: center;
  width: 100%;
  padding: 8px;
  display: flex;
}
.header__noti-footer-btn {
  text-decoration: none;
  width: 100%;
  color: #666;
}

/* User */
.header__nav-user {
  position: relative;
}
.header__nav-user:hover .header__nav-user-info {
  display: block;
}
.header__nav-user-avatar {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -2px;
}
.header__nav-user-name {
  padding-left: 24px;
}
.header__nav-user-info {
  position: absolute;
  width: 200px;
  background-color: var(--white-color);
  box-shadow: 0 0 2px rgb(172, 172, 172);
  z-index: 1;
  right: 0;
  top: 150%;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__nav-user-info::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent rgb(246, 251, 255) transparent;
  position: absolute;
  top: -16px;
  right: 20px;
}
.header__nav-user-info::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 12px;
  top: -12px;
  right: 0;
}

.header__nav-user-info-list {
  list-style: none;
  padding: 0;
}
.header__nav-user-info-item {
  color: var(--text-color);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.header__nav-user-info-item:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.header__nav-user-info-desc {
  font-size: 1.4rem;
}

.header__nav-user-icon {
  color: var(--primary-color);
}

/* Modal */

.modal__register--header {
  display: flex;
  justify-content: space-between;
  padding: 24px 52px;
  font-size: 1.6rem;
}

.modal__register--header > h3 {
  color: var(--primary-color);
}

.modal__register--body {
  width: 100%;
  padding: 0px 40px;
}

.modal__register--body-info {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  padding: 8px 8px;
  margin-top: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  opacity: 0.8;
}

.modal__register--body-rules {
  font-size: 1.4rem;
  text-align: center;
  padding: 0px 40px;
}

.modal__register--body-rules > a {
  text-decoration: none;
  color: var(--primary-color);
}

.modal__register--body-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.register-button {
  margin-left: 12px;
}

.modal__register--footer {
  width: 100%;
  margin-top: 40px;
  background-color: var(--primary-color);
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
}
.modal__social {
  width: 40%;
  padding: 12px 12px;
  text-align: center;
  margin: 0px 40px;
  font-size: 1.5rem;
  text-decoration: none;

  border-radius: 4px;
}
.modal__social:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modal__social--fb {
  background-color: #4267b2;
  color: var(--white-color);
}
.modal__social--gg {
  background-color: var(--white-color);
  color: #333;
}

.modal__register--body-help {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  margin: 24px 0px;
}

.modal__register--body-help-link {
  text-decoration: none;
  color: #666;
}
.modal__register--body-help-link:hover {
  opacity: 0.7;
}
.modal--separate {
  display: block;
  border-right: 1px solid #888;
  margin: 0 12px;
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
  /* text-align: center; */
}
.header__logo--img {
  width: 150px;
}

.header__search {
  height: 40px;
  background-color: var(--white-color);
  flex: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.header__search--input-wrap {
  flex: 1;
  /* height: 100%; */
  position: relative;
}
.header__search--input {
  width: 100%;

  border: none;
  font-size: 1.6em;
  padding-left: 12px;
  outline: none;
  border-radius: 4px;
}

.header__search-icon {
  flex: 1;
  width: 100%;
  background-color: var(--primary-color);
  font-size: 1.6rem;
}

.header__cart {
  width: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__cart-icon {
  color: var(--white-color);
  font-size: 2rem;
  height: 100%;
  padding: 8px 24px;
  cursor: pointer;
}

.header__cart-list {
  position: absolute;
  top: 112%;
  width: 400px;
  right: 42px;
  background-color: var(--white-color);
  box-shadow: 0 0 2px rgb(172, 172, 172);
  border-radius: 2px;
  animation: fadeIn ease-in 0.2s;
  display: none;
  cursor: default;
  /* overflow-y: auto; */
  z-index: 1;
}
.header__cart-wrap {
  width: 50%;
  height: 100%;
}
.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent rgb(246, 251, 255) transparent;
  position: absolute;
  top: -16px;
  right: 22px;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 20px;
  top: -16px;
  right: 0;
  cursor: pointer;
}

.header__cart-list--no-cart {
  display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-text {
  display: block;
}
.header__cart-list--no-cart .header__cart-item-wrap {
  display: none;
}

.header__cart-no-cart-img {
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.header__cart-list--no-cart-text {
  display: none;
  font-size: 1.4rem;
  padding: 4px 0px;
  opacity: 0.6;
}

.header__cart-noti {
  position: absolute;
  padding: 0px 4px;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 10px;
  top: 0;
  right: 35%;
  border: 2px solid var(--primary-color);
  font-size: 1.2rem;
  line-height: 1.2;
  cursor: pointer;
}

.header__search--select {
  border-left: 1px solid rgb(201, 201, 201);
  padding: 0 16px 0 16px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__search--select:hover {
  cursor: pointer;
}

.header__search--select::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 4px;
  right: 0;
  bottom: -2px;
}

.header__search--select:hover .header__search-option {
  display: block;
}
.header__search--select-label {
  font-size: 1.4rem;
  color: #787878;
  padding-right: 4px;
}

.header__search--button {
  width: 10%;
  background-color: var(--primary-color);
  height: 90%;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
}

.header__search--button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__search--button-icon {
  font-size: 1.8rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 80%;
  width: 150px;
  background-color: var(--white-color);
  box-shadow: 0 0 2px rgb(172, 172, 172);
  border-radius: 2px;
  padding: 0;
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}

.header__search-item {
  list-style: none;
  font-size: 1.2rem;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
}
.header__search-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

/* header search history */

.header__search-history {
  position: absolute;
  width: 92.7%;
  top: 150%;
  background-color: var(--white-color);
  box-shadow: 0 0 2px rgb(172, 172, 172);
  border-radius: 2px;
  padding: 0;
  margin-top: 2px;
  display: none;
  z-index: 1;
}

.header__search-history-item {
  list-style: none;
  font-size: 1.2rem;
  padding: 8px 12px;
}
.header__search-history-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.header__search--input:focus ~ .header__search-history {
  display: block;
}

/* cart items */
.header__cart-heading {
  font-size: 1.4rem;
  color: #999;
  padding: 12px;
  margin: 0;
  font-weight: 400;
}

.header__cart-list-item {
  max-height: 50vh;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
}

.header__cart-item {
  width: 100%;
  padding: 4px 12px;
  display: flex;
}

.header__cart-item:hover {
  background-color: #eeeeee;
}

.header_cart-item-info {
  flex: 1;
}
.header__cart-img {
  width: 50px;
  height: 50px;
}
.header__cart-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart-item-name {
  font-size: 1.4rem;
  margin: 4px 8px 4px 8px;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: left;
}

.header__cart-item-price {
  float: left;
  font-size: 1.6rem;
  padding-right: 8px;
  font-weight: 500;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 1.2rem;
  padding-right: 8px;
}

.header__cart-item-quantity {
  font-size: 1.4rem;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart-item-desc {
  font-size: 1.1rem;
  margin: 4px 8px 4px 8px;
  color: var(--text-color);
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: left;
}

.header__cart-item-remove {
  font-size: 1.4rem;
  font-weight: 450;
  cursor: pointer;
}
.header__cart-item-remove:hover {
  opacity: 0.7;
}

.header__cart-item-btn {
  margin: 8px 0;
}

/* Container */

/* .container-wraper {
  padding: 20;
} */
.category {
  background-color: var(--white-color);
  border-radius: 4px;
}
.category-heading {
  padding: 16px 10px;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  margin: 0;
  color: var(--text-color);
}
.category-heading-icon {
  padding-right: 4px;
}
.category-item-title {
  width: 100%;
  list-style: none;
  padding: 0;
}
.category-item {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  cursor: pointer;
}
.category-item-link {
  padding: 4px 0px 4px 20px;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
.category-item:hover {
  background-color: #eeeeee;
}
.category-item-active .category-item-link {
  color: var(--primary-color);
}
.category-item-active .category-item-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 8px;
  border-radius: 4px;
}
.filter_label {
  font-size: 1.4rem;
}
.product-filter {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.product-filter-btn {
  margin-left: 12px;
}
.filter-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 36px;
  background-color: var(--white-color);
  font-size: 1.4rem;
  padding: 0 12px;
  margin-left: 12px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}
.filter-select:hover .filter-select-list {
  display: block;
}
.filter-select-list {
  position: absolute;
  right: 0;
  top: 60%;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 0px 2px rgb(172, 172, 172);
  list-style: none;
  padding: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn linear 0.1s;
  z-index: 1;
}
.filter-select-item {
  font-size: 1.4rem;
  padding: 8px 12px;
}
.filter-select-item:hover {
  background-color: #eeeeee;
}
.product-filter__page {
  display: flex;
  align-items: center;
  padding: 12px;
}
.product-filter__page {
  font-size: 1.4rem;
  display: flex;
}
.product-filter__page-num {
  padding: 0 12px;
  cursor: default;
}
.product-filter__page-current {
  color: var(--primary-color);
}
.product-filter__page-control {
  width: 50px;
  display: flex;
  align-items: center;
}
.product-filter__page-btn {
  color: var(--text-color);
  display: block;
  background-color: var(--white-color);
  padding: 4px 12px;
  border-radius: 2px;
}
.product-filter__page-btn-left {
  height: 100%;
  border-right: 1px solid #ccc;
}
.product-filter__page-btn-disable {
  cursor: default;
  opacity: 0.5;
}
.product-filter__page-btn .product-filter__page-btn-disable {
  cursor: default;
  color: #ccc;
}

/* Product */

.product-item {
  display: block;
  text-decoration: none;
  background-color: var(--white-color);
  position: relative;
  box-shadow: 0 1px 3px rgb(212, 212, 212);
  transition: linear 0.1s;
  margin-bottom: 8px;
}

.product-item:hover {
  transform: translateY(-1px);
  cursor: pointer;
  box-shadow: 0 1px 16px rgb(212, 212, 212);
}

.product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-item-desc {
  padding: 8px;
}
.product-item__name {
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item__price {
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item__price-old {
  font-size: 1.2rem;
  color: #666;
  text-decoration-line: line-through;
}

.product-item__price-current {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.product-item__action {
  display: flex;
  justify-content: space-between;
}

.product-item__like {
  font-size: 1.2rem;
}

i.product-item__like-icon-fill {
  color: #fe0000;
  display: none;
}

.product-item__liked .product-item__like-icon-fill {
  display: inline-block;
}

.product-item__liked .product-item__like-icon-empty {
  display: none;
}

.product-item__rating {
  color: #999;
}
.rating-star-gold {
  color: #ffbb00;
}
.product-item__sold {
  color: var(--text-color);
  font-size: 1.2rem;
  padding-left: 4px;
}
.product-item-origin {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 8px 0px 0px 0px;
}

.product-item__favourite {
  position: absolute;
  background-color: #fe0000;
  color: var(--white-color);
  font-size: 1.2rem;
  padding: 2px 8px;
  top: 8px;
  left: -4px;
}

.product-item__favourite::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  border-top: 4px solid #ad0000;
  border-left: 4px solid transparent;
}

.product-item__sale-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #ffbb00;
}

.product-item__sale-off::before {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent #ffbb00 transparent #ffbb00;
}

.product-item__sale-off-percent {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fe0000;
  padding-top: 4px;
}

.product-item__sale-off-percent-label {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 400;
}

/* footer */
.footer {
  width: 100%;
  border-top: 5px solid var(--primary-color);
  display: flex;
}
.footer-item {
  margin-top: 50px;
}

.footer-list {
  padding: 0;
  list-style: none;
}

.footer-list-item {
  padding: 4px 0px;
}

.footer-list-item:hover {
  text-decoration: underline;
}

.footer-item-link {
  text-decoration: none;
  font-size: 1.4rem;
}

.footer__contact-email {
  width: 100%;
  padding: 4px 8px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}
.footer__contact-phone {
  width: 100%;
  padding: 4px 8px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.footer__contact-message {
  width: 100%;
  height: 90px;
  padding: 4px 8px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.footer__contact-submit {
  float: right;
}

.footer-info {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  text-align: center;
}

/* contact form */
.contact {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 30%;
  right: 0;
  background-color: var(--white-color);
  box-shadow: 0 0px 2px rgb(172, 172, 172);
}

/* Mobile */
.mobile__header {
  width: 100%;
  background-color: var(--primary-color);
  padding: 12px 8px 8px 8px;
  display: none;
}

.mobile__header-logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.mobile__header-logo-img {
  width: 80px;
}
.mobile__header-menu-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 3rem;
  color: var(--white-color);
}

.header__cart {

}

.mobile__header-search {
  padding: 4px 0;
}
.header__search--input {
  padding: 8px 16px;
}
.header__search-history {
  width: 100% !important;
  top: 100%;
}

.mobile__product-filter {
  display: flex;
  width: 100%;
}

.btn-basic-mobile {
  min-width: 90px;
  height: 36px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1.4rem;
  background-color: #fff;
  width: 40%;
  margin-right: 1%;
}

.nav__overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn linear 0.2s;
}

.nav__menu-mobile {
  position: fixed;
  width: 50%;
  top: 0;
  left: 0;
  color: var(--text-color);
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 0 0px 2px rgb(172, 172, 172);
  transform: translateX(-100%);
  transition: all linear 0.2s;
  opacity: 0;
}

.nav__menu-mobile-list {
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  margin: 0;
}

.nav__menu-mobile-item {
  line-height: 3.2rem;
  padding: 8px 16px;
  font-weight: 500;
}
.nav__menu-mobile-item:hover {
  background-color: #eeeeee;
}
.nav-user-link-mobile {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #888;
  text-decoration: none;
  padding: 12px;
}
.nav-user-avatar-mobile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.nav-user-name-mobile {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 12px 12px;
}
.nav__menu-mobile-icon {
  font-size: 2rem;
  position: fixed;
  top: 20px;
  right: 16px;
  color: #999;
}

.nav__mobile-check {
  display: none;
}

.nav__mobile-check:checked ~ .nav__overlay {
  display: block;
}

.nav__mobile-check:checked ~ .nav__menu-mobile {
  transform: translateX(0);
  opacity: 1;
}
